/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --background-image: url(../images/cover-image-dark.png);
  --border-color: #ff0070;
  --background-color: #000028;
  --accent-color: #ff0070;
  --focus-border: #FF007066;
  --tl-color: #db00ff;
  --text-color: #f1b2ce;
  --hd-color: #ff0070;
  --title-hd-color: var(--accent-color);
  --hd-txt-color: var(--background-color);
  --hd-sub-color: var(--background-color);
  --footer-color: #db00ff;
  --rec-decor: visible;
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
}
