/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --background-image: url(../images/cover-image-dark.png);
  --border-color:#FF0070;
  --background-color: #000028;
  --accent-color: #FF0070;
  --focus-border: #ff99c6;
  --tl-color: #DB00FF;  
  --text-color: #F1B2CE;
  --bg-color: #FF0070;
  --title-hd-color: var(--accent-color);
  --hd-txt-color: var(--background-color);
  --hd-sub-color: var(--background-color);
  --footer-color: #DB00FF;
  --rec-decor: visible;
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
}
