/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--background-image);
  background-color: var(--background-color);
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
  font-size: var(--font-size), 18px;
  font-weight: 400;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  border-inline-end: 1px solid var(--border-color);
  border-block-start: 1px solid var(--border-color);
  width: 25px;
  height: 25px;
  top: 10px;
  right: 13px;

  @media (width >= 768px) {
    top: 18px;
    right: 20px;
  }

  @media (width >= 1024px) {
    top: 18px;
    right: 20px;
  }
}

.decorated-zone::before {
  content: "";
  position: absolute;
  border-inline-start: 1px solid var(--border-color);
  border-block-end: 1px solid var(--border-color);
  bottom: 10px;
  inline-size: 25px;
  block-size: 25px;
  left: 7px;

  @media (width >= 768px) {
    left: 21px;
    bottom: 20px;
  }

  @media (width >= 1024px) {
    left: 21px;
    bottom: 20px;
  }
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--hd-txt-color);
  font-weight: var(--weight-title);

  @media (width >= 768px) {
    margin-block-end: 0;
    grid-column: span 3;
  }
}

.header {
  min-block-size: 668px;
  block-size: 100vh;
  padding: 10px;
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: column;
  align-items: center;
  margin-block-end: 40px;

  @media (width >= 768px) {
    padding-left: 0;
    margin-block-end: 0;
  }
  @media (width >= 1024px) {
    padding: 20px 20px 20px 0;
  }
}

.header__theme-menu-item {
  font-size: var(--font-size);
}

.header__theme-menu-button {
  font-family: var(--font-family), monospace;
  color: var(--border-color);
  background-color: inherit;
  border: 1px solid transparent;
  padding: 0 13px 5px 10px;
  text-transform: lowercase;

  @media (width >= 768px) {
    padding: 0 21px 4px 10px;
  }

  @media (width >= 1024px) {
    padding: 0 13px 4px 13px;
  }
}

.header__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--tl-color);
  font-family:
    var(--font-family),
    IBM Plex Mono;
  font-weight: 700;
  line-height: 82.5%;
  letter-spacing: 0%;
  padding: 0;
  text-align: left;
  text-shadow: 4px 4px 0 var(--accent-color);

  @media (width >= 768px) {
    white-space: nowrap;
    overflow: visible;
    margin-block-end: 0;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    padding: 0;
  }

  @media (width >= 1024px) {
    display: flex;
    left: 0;
    white-space: nowrap;
    overflow: visible;
  }
}

.header__text {
  max-width: 100%;
  font-family: var(--font-family), "IBM Plex Mono";
  font-size: var(--font-size);
  background-color: var(--accent-color);

  @media (width >= 768px) {
    grid-column: span 2;
    justify-self: end;
    justify-items: end;
    align-items: end;
    max-width: 50%;
    padding-inline-end: 20px;
    margin-inline-end: 10px;
  }

  @media (width >= 1024px) {
    grid-column: span 3;
    justify-items: end;
    align-items: end;
    max-width: 49%;
    padding-inline-end: 0;
    margin-inline-end: 0;
  }
}

.header__theme-menu {
  grid-column: 1 / 3;
  justify-self: end;

  @media (width >= 768px) {
    grid-column: span 2;
    padding-block-start: 15px;
  }
  @media (width >= 1024px) {
    align-self: start;
    justify-self: center;
    padding-block-start: 0;
    margin-inline-start: 30px;
  }
}

.header__theme-menu-list {
  display: block;
  list-style: none;

  @media (width >= 1024px) {
    display: inline-flex;
    padding-right: 20px;
  }

  .header__theme-menu-button:focus {
    outline: none;
  }

  .header__theme-menu-button:focus-visible {
    border: none;
    outline: none;
    border-bottom: 1px solid var(--border-color);
  }

  .header__theme-menu-button_active {
    pointer-events: none;
    border: 1px solid var(--border-color);
  }
}

.header__theme-menu-button:hover {
  border: 1px solid var(--focus-border);
}

.header__theme-menu-list:not(:last-child) {
  margin-bottom: 13px;
}

.decor__rec::before {
  position: absolute;
  right: 39px;
  top: 15px;
  content: "rec";
  text-transform: uppercase;
  visibility: var(--rec-decor);
  color: var(--accent-color);

  @media (width >= 768px) {
    right: 50px;
    top: 25px;
  }
}

.circle {
  align-self: center;
  position: absolute;
  visibility: var(--rec-decor);
  top: 17px;
  right: 8px;
  content: "";
  inline-size: 13px;
  block-size: 13px;
  margin-inline-end: 9px;
  background-color: var(--accent-color);
  border-radius: 50%;
  filter: drop-shadow(0px 0px 4px var(--accent-color));

  @media (width >= 768px) {
    right: 18px;
    top: 25px;
  }
}

.content__main {
  display: grid;
  gap: 30px;
  padding: 0 10px;

  @media (width >= 768px) {
    margin-block-start: 60px;
    padding: 0 20px;
  }
}

.content__section {
  font-family: var(--font-family);
  font-style: var(--font-style);
  line-height: 23.4px;

  @media (width >= 768px) {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
    margin-bottom: 30px;
  }

  @media (width >= 1024px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.content__block-card {
  @media (width >= 1024px) {
    grid-column: span 2;
  }
}

.content__section-title {
  color: var(--hd-color);
  font-family: var(--font-family);
  margin-block-end: 20px;
  font-weight: var(--weight-title);
  font-size: var(--font-size);
}

.what {
  @media (width >= 768px) {
    max-width: 20%;
  }
  @media (width >= 1024px) {
    max-width: 30%;
  }
}

.content__block {
  display: grid;
  height: fit-content;
}

.content__block-title {
  background-color: var(--accent-color);
  color: var(--hd-txt-color);
  margin-block-end: 10px;
  font-size: var(--font-size);

  @media (width >= 768px) {
    .content__block-title {
      grid-column: span 3;
      margin-block-start: 20px;
    }

    .content__block-titlet:not(:last-child) {
      margin-block-end: 10px;
    }
  }
}

.weight__style {
  font-weight: var(--font-weight);
  margin-block-start: 10px;
}

.bottom__title {
  margin-block-end: 10px;
}

.content__block-text {
  color: var(--text-color);
  font-size: var(--font-size);
  margin-block-end: 20px;
}

.card__section {
  .content__section-title {
    grid-column: 1/-1;
  }

  .content__block-card {
    grid-column: 1/-1;

    @media (width >= 1024px) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 20px;
    }
  }
}

.word {
  text-decoration: none;
  text-shadow: 1px 0.5px var(--accent-color);
}

.word:hover {
  @media (width >= 1024px) {
    border-bottom: 1px solid var(--text-color);
  }
}

.word:focus-visible {
  outline: 1px solid var(--text-color);
  outline-offset: 2px;
  border-radius: 1px;
}

.pictures {
  display: grid;
  grid-auto-flow: row;
}

.pictures_title {
  font-family: var(--font-family);
  margin-block-end: 0;
}

.pictures {
  display: grid;
  gap: 10px;
  margin-block-end: 20px;

  @media (width >= 768px) {
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;

    .section__image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      margin-block-start: 0;
    }

    .section__image:nth-child(2) {
      grid-column: 1 / 3;
    }

    .section__image:nth-child(3) {
      grid-column: 3 / 4;
      grid-row: 2 / 4;
    }

    .section__image:nth-child(4) {
      grid-column: 1 / 2;
      grid-row: 3 / 5;
    }

    .section__image:nth-child(5) {
      grid-column: 2 / 3;
      grid-row: 3 / 4;
    }

    .section__image:nth-child(6) {
      grid-column: 2 / 4;
      grid-row: 4 / 5;
    }
  }

  @media (width >= 1024px) {
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;

    .section__image:nth-child(2) {
      grid-column: 1 / 3;
    }

    .section__image:nth-child(3) {
      grid-column: 3 / 4;
      grid-row: 2 / 4;
    }

    .section__image:nth-child(4) {
      grid-column: 1 / 2;
      grid-row: 3 / 5;
    }

    .section__image:nth-child(5) {
      grid-column: 2 / 3;
      grid-row: 3 / 4;
    }

    .section__image:nth-child(6) {
      grid-column: 2 / 4;
      grid-row: 4 / 5;
    }
  }
}

.footer {
  min-block-size: 667px;
  block-size: 100vh;
  padding: 10px;
  margin-block-start: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  @media (width >= 768px) {
    padding: 20px;
    margin-block-start: 40px;
  }

  @media (width >= 1024px) {
    padding: 20px;
  }
}

.title__footer {
  color: var(--tl-color);
  text-shadow: 2px 2px 0 var(--accent-color);
  font-family: var(--font-family);
  font-size: var(--footer-size);
  font-weight: var(--weight-title);
  line-height: var(--line-footer-height);

  @media (width >= 768px) {
    font-size: var(--footer-midle-size);
  }

  @media (width >= 1024px) {
    font-size: var(--footer-big-size);
  }
}
