/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --font-family: "IBM Plex mono", monospace;
  --font-size: 18px;
  --footer-size: 116px;
  --footer-midle-size: 120px;
  --footer-big-size: 157px;
  --accent-color: #ff0070;
  --focus-border: #ff99c6;
  --border-color: #ff0070;
  --tl-color: #db00ff;
  --text-color: #f1b2ce;
  --hd-color: #ff0070;
  --hd-txt-color: #ff0070;
  --background-color: #000028;
  --hd-txt-color: #000028;
  --background-image: url(../images/cover-image-dark.png);
  --font-style: normal;
  --font-text-style: Regular;
  --font-weight: 400;
  --weight-title: 700;
  --line-header-height: 83%;
  --line-footer-height: 82.5%;
  --rec-decor: visible;
}
